@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
code,
em,
img,
q,
s,
strike,
strong,
syt,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
footer,
header,
nav,
section,
audio,
video,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  font: inherit;
  font-weight: normal;
  font-family: "Lantinghei SC", "Microsoft YaHei", "微软雅黑", SimSun, Arial;
  -webkit-font-smoothing: antialiased; }

em,
i {
  font-style: normal; }

b,
strong {
  font-weight: normal; }

img {
  border: none;
  vertical-align: top;
  max-width: 100%; }

a {
  text-decoration: none; }

a:active {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.c-orange {
  color: #fe942a; }

.bg-orange {
  background: #fe942a; }

.c-red {
  color: #ff4e54; }

.fz48 {
  font-size: 1.28rem; }

.db {
  display: block; }

.di {
  display: inline; }

.dib {
  display: inline-block; }

.hr {
  margin: 0;
  border: none;
  height: 1px;
  overflow: hidden;
  background-color: #e9e9e9; }

.w100 {
  width: 100%; }

.di-vm {
  display: inline-block;
  vertical-align: middle; }

.bn {
  border: none !important; }

.bd {
  border: 1px solid #e9e9e9; }

.bt {
  border-top: 1px solid #e9e9e9; }

.br {
  border-right: 1px solid #e9e9e9; }

.bb {
  border-bottom: 1px solid #e9e9e9; }

.bl {
  border-left: 1px solid #e9e9e9; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.cell {
  display: table-cell;
  vertical-align: middle; }

.fz0 {
  font-size: 0;
  overflow: hidden; }

.fz20 {
  font-size: 0.5333333333rem; }

.fz22 {
  font-size: 0.5866666667rem; }

.fz24 {
  font-size: 0.64rem; }

.fz26 {
  font-size: 0.6933333333rem; }

.fz28 {
  font-size: 0.7466666667rem; }

.fz30 {
  font-size: 0.8rem; }

.fz32 {
  font-size: 0.8533333333rem; }

.fz34 {
  font-size: 0.9066666667rem; }

.fz36 {
  font-size: 0.96rem; }

.fz38 {
  font-size: 1.0133333333rem; }

.fz40 {
  font-size: 1.0666666667rem; }

.fz42 {
  font-size: 1.12rem; }

.fz44 {
  font-size: 1.1733333333rem; }

.fz50 {
  font-size: 1.3333333333rem; }

.fz52 {
  font-size: 1.3866666667rem; }

.fz60 {
  font-size: 1.6rem; }

.fz70 {
  font-size: 1.8666666667rem; }

.fz72 {
  font-size: 1.92rem; }

.fz80 {
  font-size: 2.1333333333rem; }

.fz90 {
  font-size: 2.4rem; }

.fz100 {
  font-size: 2.6666666667rem; }

.fw-b {
  font-weight: bold; }

.fw-d {
  font-weight: 600; }

.fw-l {
  font-weight: lighter; }

.m10 {
  margin: 0.2666666667rem; }

.m20 {
  margin: 0.5333333333rem; }

.m30 {
  margin: 0.8rem; }

.m40 {
  margin: 1.0666666667rem; }

.mt10 {
  margin-top: 0.2666666667rem; }

.mt20 {
  margin-top: 0.5333333333rem; }

.mt30 {
  margin-top: 0.8rem; }

.mt40 {
  margin-top: 1.0666666667rem; }

.mr10 {
  margin-right: 0.2666666667rem; }

.mr20 {
  margin-right: 0.5333333333rem; }

.mr30 {
  margin-right: 0.8rem; }

.mr40 {
  margin-right: 1.0666666667rem; }

.mb10 {
  margin-bottom: 0.2666666667rem; }

.mb20 {
  margin-bottom: 0.5333333333rem; }

.mb30 {
  margin-bottom: 0.8rem; }

.mb40 {
  margin-bottom: 1.0666666667rem; }

.ml10 {
  margin-left: 0.2666666667rem; }

.ml20 {
  margin-left: 0.5333333333rem; }

.ml30 {
  margin-left: 0.8rem; }

.ml40 {
  margin-left: 1.0666666667rem; }

.ml50 {
  margin-left: 1.3333333333rem; }

.p10 {
  padding: 0.2666666667rem !important; }

.p20 {
  padding: 0.5333333333rem !important; }

.p30 {
  padding: 0.8rem !important; }

.p40 {
  padding: 1.0666666667rem !important; }

.p50 {
  padding: 1.3333333333rem; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pt10 {
  padding-top: 0.2666666667rem !important; }

.pt20 {
  padding-top: 0.5333333333rem !important; }

.pt30 {
  padding-top: 0.8rem !important; }

.pt40 {
  padding-top: 1.0666666667rem !important; }

.pr10 {
  padding-right: 0.2666666667rem !important; }

.pr20 {
  padding-right: 0.5333333333rem !important; }

.pr30 {
  padding-right: 0.8rem !important; }

.pr40 {
  padding-right: 1.0666666667rem !important; }

.pr50 {
  padding-right: 1.3333333333rem; }

.pb10 {
  padding-bottom: 0.2666666667rem !important; }

.pb20 {
  padding-bottom: 0.5333333333rem !important; }

.pb30 {
  padding-bottom: 0.8rem !important; }

.pb40 {
  padding-bottom: 1.0666666667rem !important; }

.pl10 {
  padding-left: 0.2666666667rem !important; }

.pl20 {
  padding-left: 0.5333333333rem !important; }

.pl30 {
  padding-left: 0.8rem !important; }

.pl40 {
  padding-left: 1.0666666667rem !important; }

.plr10 {
  padding-left: 0.2666666667rem;
  padding-right: 0.2666666667rem; }

.plr20 {
  padding-left: 0.5333333333rem;
  padding-right: 0.5333333333rem; }

.plr30 {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.plr40 {
  padding-left: 1.0666666667rem;
  padding-right: 1.0666666667rem; }

.ptb10 {
  padding-top: 0.2666666667rem;
  padding-bottom: 0.2666666667rem; }

.ptb20 {
  padding-top: 0.5333333333rem;
  padding-bottom: 0.5333333333rem; }

.ptb30 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.ptb40 {
  padding-top: 1.0666666667rem;
  padding-bottom: 1.0666666667rem; }

.p36 {
  padding: 0.96rem; }

.pl36 {
  padding-left: 0.96rem; }

.pt36 {
  padding-top: 0.96rem; }

.pr36 {
  padding-right: 0.96rem; }

.pb36 {
  padding-bottom: 0.96rem; }

.plr36 {
  padding-left: 0.96rem;
  padding-right: 0.96rem; }

.ptb36 {
  padding-top: 0.96rem;
  padding-bottom: 0.96rem; }

.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

.h1 {
  font-size: 0.9066666667rem;
  color: #4b4b4b; }

.h2 {
  font-size: 0.8rem;
  color: #4b4b4b; }

.h3 {
  font-size: 0.7466666667rem;
  color: #4b4b4b; }

.h4 {
  font-size: 0.6933333333rem;
  color: #4b4b4b; }

.h5 {
  font-size: 0.64rem;
  color: #4b4b4b; }

.h6 {
  font-size: 0.8533333333rem;
  color: #4b4b4b; }

.lh1 {
  line-height: 1; }

.lh14 {
  line-height: 1.4em; }

.lh16 {
  line-height: 1.6em; }

.lh18 {
  line-height: 1.8em; }

.ub-te {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.ub-te2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.ub-te3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.ub-te4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

.bgn {
  background: none; }

.bgff {
  background: #fff; }

.bgfb {
  background: #fbfbfb; }

.bgf5 {
  background: #f5f5f5; }

.bgf0 {
  background: #f0f0f0; }

.bg-red {
  background: #f65378; }

.cff {
  color: #fff; }

.c00 {
  color: #000; }

.c33 {
  color: #333; }

.c66 {
  color: #666; }

.c99 {
  color: #999; }

.word-break {
  word-break: break-all;
  word-wrap: break-word; }

.plr25 {
  padding-left: 0.6666666667rem;
  padding-right: 0.6666666667rem; }

.bg-grey {
  background: #f8f9fa; }

.c32 {
  color: #323232; }

.pl35 {
  padding-left: 0.9333333333rem; }

.ptb25 {
  padding-top: 0.6666666667rem;
  padding-bottom: 0.6666666667rem; }

.c-orange {
  color: #ff7b55; }

.ccc {
  color: #CCCCCC; }

.mt25 {
  margin-top: 0.6666666667rem; }

.c-green {
  color: #1bd18f; }

.pt15 {
  padding-top: 0.4rem; }

.pt25 {
  padding-top: 0.6666666667rem; }

.pb25 {
  padding-bottom: 0.6666666667rem; }

.ub {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex; }

.ub-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.ub-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  flex: 2; }

.ub-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  flex: 3; }

.ub-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4;
  -webkit-flex: 4;
  flex: 4; }

.ub-1f2 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.ub-1f3 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%; }

.ub-1f4 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.ub-pc {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.ub-pe {
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.ub-pj {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.ub-ac {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.ub-ae {
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.ub-pac {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.ub-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column; }

.ub-bm {
  /*box-lines出现无法使用的情况*/
  -webkit-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

a,
input,
select,
optgroup,
option,
button,
textarea,
label {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-appearance: none; }

body {
  background: #fff;
  font-size: 0.96rem; }

.iconfont {
  font-size: 1.0666666667rem; }

a {
  color: #666; }

/*******************foot bar******************/
.mui-bar-tab {
  height: 2.6133333333rem; }

.mui-bar-tab .mui-tab-item.mui-active {
  color: #00d589; }

.mui-bar-tab .mui-tab-item {
  color: #a3a3a3; }

.mui-bar {
  background: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-top: 0.0266666667rem solid #e9e9e9; }

.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label {
  font-size: 0.5333333333rem; }

.mui-bar-tab .mui-tab-item .mui-icon {
  font-size: 0.96rem; }

/******************header****************/
.header {
  height: 2.3466666667rem;
  line-height: 2.3466666667rem;
  padding-top: 1.0666666667rem;
  background: -webkit-linear-gradient(left, #1be369, #16cc94);
  background: -o-linear-gradient(right, #1be369, #16cc94);
  background: -moz-linear-gradient(right, #1be369, #16cc94);
  background: linear-gradient(to right, #1be369, #16cc94);
  box-sizing: content-box;
  position: relative; }
  .header h2 {
    color: #fff;
    font-size: 0.96rem;
    text-align: center;
    position: relative;
    line-height: 2.3466666667rem; }

.e-icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.e-arrow {
  width: 0.4533333333rem;
  height: 0.8266666667rem;
  background-image: url(../images/e-arrow.png); }

.e-head {
  width: 3.3066666667rem;
  height: 3.3066666667rem;
  border-radius: 10000px;
  border: 0.1066666667rem solid #cccccc; }
  .e-head img {
    width: 100%;
    height: 100%; }

.e-pwd {
  width: 1.0133333333rem;
  height: 1.0933333333rem;
  background-image: url(../images/e-pwd.png); }

.e-help {
  width: 1.0666666667rem;
  height: 1.12rem;
  background-image: url(../images/e-help.png); }

.e-quest {
  width: 1.1733333333rem;
  height: 1.1733333333rem;
  background-image: url(../images/e-quest.png); }

.e-about {
  width: 1.1733333333rem;
  height: 1.1733333333rem;
  background-image: url(../images/e-about.png); }

.hd-left {
  position: absolute;
  left: 0;
  width: 2.6666666667rem;
  height: 2.3466666667rem;
  background-image: url(../images/e-back.png);
  background-position: 0.8rem center;
  background-size: 0.56rem 0.9333333333rem; }

.e-userInfo {
  width: 2.1333333333rem;
  height: 2.1333333333rem;
  overflow: hidden; }
  .e-userInfo img {
    width: 100%;
    height: 100%; }

.e-modifyPwd {
  padding: 4rem 1.6rem 0; }

.e_input {
  height: 2.1333333333rem;
  line-height: 2.1333333333rem;
  position: relative; }
  .e_input input {
    height: 2.1333333333rem;
    line-height: 2.1333333333rem;
    margin: 0;
    padding: 0;
    border: none;
    padding-right: 2.6666666667rem;
    font-size: 0.96rem;
    color: #323232; }
  .e_input ::-webkit-input-placeholder {
    font-size: 0.96rem;
    color: #ccc; }
  .e_input :-moz-placeholder {
    font-size: 0.96rem;
    color: #ccc; }
  .e_input ::-moz-placeholder {
    font-size: 0.96rem;
    color: #ccc; }
  .e_input :-ms-input-placeholder {
    font-size: 0.96rem;
    color: #ccc; }

.e-pwdBox {
  height: 3.2rem;
  padding: 0.5333333333rem 0;
  border-bottom: 0.0266666667rem solid #e9e9e9; }

.btn {
  width: 100%;
  height: 2.3466666667rem;
  line-height: 2.3466666667rem;
  text-align: center;
  border-radius: 0.0533333333rem;
  font-size: 0.8533333333rem; }

.btn-green {
  color: #fff;
  background: #1bd18f; }

.e-pwdBtn {
  margin-top: 2.4rem; }

.mui-input-row .mui-input-clear ~ .mui-icon-clear {
  color: #dcdcdc; }

.e-modifyPwdSuccess {
  padding: 5.6rem 1.6rem 0; }

.e-modifyPwdSuccess-box {
  width: 2.9333333333rem;
  height: 2.9333333333rem;
  margin: 0 auto;
  background-image: url(../images/e-pwdSuccess.png); }

.e-pwdBtn-success {
  margin-top: 5.0133333333rem; }

.e-quest {
  position: relative;
  width: 18.4rem;
  height: 8.5333333333rem;
  margin-bottom: 5.0133333333rem; }
  .e-quest textarea {
    width: 18.4rem;
    height: 8.5333333333rem;
    margin: 0 auto;
    background: #f8f8fa;
    border-radius: 0.1066666667rem;
    border: none; }
  .e-quest span {
    position: absolute;
    right: 0.5333333333rem;
    bottom: 0.4rem; }

.e-aboutLogo {
  background-image: url(../images/e-aboutLogo.png);
  width: 5.7333333333rem;
  height: 5.0133333333rem;
  margin: 3.5733333333rem auto 0; }

.footer {
  position: fixed;
  z-index: 99;
  bottom: 0.8rem;
  width: 100%; }

.e-login-box {
  padding: 3.4666666667rem 1.6rem 0; }

.e_login {
  padding: 1.6rem 0 2.4rem; }

.e_forget_box {
  padding: 1.2rem 1.6rem 0; }

.e_forget_back {
  width: 0.56rem;
  height: 0.9333333333rem;
  background-image: url(../images/e-forget-back.png);
  display: inline-block;
  vertical-align: middle; }

.forget_back_box {
  margin-bottom: 1.4666666667rem; }

.e_resetPwd {
  padding: 1.2rem 1.6rem 0; }

.e-resetPwdPic {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-image: url(../images/e-resetSuccess.png);
  margin: 0 auto; }

.e_resetPwd_box {
  margin-top: 7.4666666667rem;
  margin-bottom: 3.8666666667rem; }

.e-code {
  background-image: url(../images/code.png);
  width: 2.6666666667rem;
  height: 2.3466666667rem;
  background-position: 0.8rem center;
  background-size: 1.0666666667rem 1.0666666667rem; }

.hd-right {
  position: absolute;
  right: 0;
  width: 2.6666666667rem;
  height: 2.3466666667rem;
  bottom: 0; }

.e-search {
  position: relative;
  padding: 0.5333333333rem 0 0.4533333333rem; }
  .e-search input {
    width: 100%;
    height: 1.5466666667rem;
    line-height: 1.5466666667rem;
    border: none;
    padding: 0 1.8666666667rem;
    margin: 0;
    background: #f7f7f7; }
  .e-search .e-search-btn {
    position: absolute;
    left: 0.5333333333rem;
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    background-image: url(../images/seach_btn.png);
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.e-publicHd {
  height: 2.9333333333rem; }
  .e-publicHd p {
    line-height: 2.9333333333rem;
    padding-left: 0.6666666667rem;
    position: relative; }
    .e-publicHd p:before {
      content: '';
      width: 0.16rem;
      height: 0.8533333333rem;
      background: #1bd18f;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

.list-item[data-type="0"] {
  transform: translate3d(0, 0, 0); }

.list-item[data-type="1"] {
  transform: translate3d(-2rem, 0, 0); }

.list-item {
  position: relative;
  height: 3.7866666667rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .list-item .delete {
    width: 9.36rem;
    height: 3.7866666667rem;
    background: #ff3b30;
    font-size: 0.8533333333rem;
    color: #fff;
    text-align: center;
    line-height: 3.7866666667rem;
    position: absolute;
    top: 0;
    right: -9.36rem;
    display: flex; }
    .list-item .delete div {
      flex: 1; }

.list-box {
  background: #fff;
  padding-left: 0.8rem;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0; }

.package_info {
  padding: 0.8rem 0.8rem 0;
  height: 100%; }

.list-item:after {
  content: " ";
  position: absolute;
  left: 0.8rem;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2; }

.list-item:last-child:after {
  border-bottom: 1px solid transparent; }

.setClass {
  background: grey;
  font-size: 0.8533333333rem; }

/*# sourceMappingURL=main.css.map */
