<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title></title>
	  	<script type="text/javascript" src="../../js/mui.min.js" ></script>
	    <link rel="stylesheet" href="../../css/mui.css" />
	    <link rel="stylesheet" href="../../css/main.css" />
	    <link rel="stylesheet" href="../../css/iconfont.css" />
	    <script type="text/javascript" src="../../js/html-size-calculation.js" ></script>
	</head>
	<style>
		.header{
			background: #fff;
		}
		.header h2{
			color: #333;
		}
	</style>
	<body class="bg-grey">
		<header class="header bb">
			<div class="class-hd class-hd-left">取消</div>
			<h2 class="">新建课程表</h2>
			<div class="class-hd class-hd-right">完成</div>
		</header>
		<div class="fix-bd">
			<div class="ub ub-ac e-classItem bgff">
				<input type="text" name="" id="" value=""  class="ub-f1" placeholder="请输入课程名称"/>
				<span class="e-icon e-arrow"></span>
			</div>
			<div class="ub ub-ac e-classItem bgff">
				<input type="text" name="" id="" value=""  class="ub-f1" placeholder="请选择班级"/>
				<span class="e-icon e-arrow"></span>
			</div>
			<div class="ub bb ub-ac p30 bgff">
				<div class="ub-f1">
					<p class="fz28 c66">开始</p>
					<p class="fz28 c66 pt20">2018年08月26日</p>
				</div>
				<span class="e-icon e-arrow"></span>
			</div>
			<div class="ub bb ub-ac p30 bgff">
				<div class="ub-f1">
					<p class="fz28 c66">结束</p>
					<p class="fz28 c66 pt20">2018年08月26日</p>
				</div>
				<span class="e-icon e-arrow"></span>
			</div>
		</div>
		<div class="fixed-bt">删除课程</div>
		<!--提示-->
	    <div class="masking-info" v-if="isAttes">
		    <div class="dialog"></div>
	        <div class="mask-con">
	        	<p class="mask-con-title">取消后，将不保存编辑内容</p>
		        <div class="mask-con-btn">
		          <div class="c-green" @click="isAttes = false">留在此页</div>
		          <div class="fz32 c-green" @click="sureCancle">确认取消</div>
		        </div>
		    </div>
	    </div>
	    <!-- 删除提示 -->
	    <div class="masking-info" v-if="isDelet">
		    <div class="dialog"></div>
	      	<div class="mask-con">
		        <p class="mask-con-title">删除后，课程将不可恢复  </p>
		        <div class="mask-con-btn">
		          <div class="c-green" @click="isDelet = false">留在此页</div>
		          <div class="fz32 c-green" @click="sureDelet">确认删除</div>
		        </div>
		    </div>
	    </div>
	</body>
</html>
